* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
	width: 100%;
	background-color: aliceblue;
	display: flex;
	justify-content: center;
	align-items: center;
}

#container{
	display: block;
	background-color: rgb(167, 192, 247);
	padding: 1em;
	/* position: relative; */
}

.item{
	/* position: absolute; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* flex: 1; */
	height: 100px;
	width: 300px;
	/* border: 1px solid #ccc; */
	margin-bottom: 1rem;
	background-color: rgb(236, 246, 38);
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size: 35px;
	cursor: grab;
	user-select: none;
}

.item:last-child{
	margin-bottom: 0;
}

.placeholder{
	/* position: absolute; */
	height: 100px;
	width: 300px;
	background-color: antiquewhite;
	border: 2px dashed #ccc;
	margin-bottom: 1rem;
}
