* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body * {
	font-family: 'Courier New', Courier, monospace;
}

.container{
	min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-items: center;
	gap: 20px;
	padding: 1em;
	background-color: rgb(251, 247, 255);
}

.time-container{
	gap: 10px;
	min-width: 400px;
	min-height: 500px;
	background-color: rgb(255, 255, 255);
	border-radius: .5em;
	display: flex;
	justify-content: center;
	align-items: center;	
	padding: 1em;
	position: relative;
	box-shadow: 0 0 45px 5px rgba(0, 0, 0, 0.056);
}

.inputs{
	display: flex;
	flex-direction: column;
	align-self: flex-start;
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.form-element {
	display: flex;
	justify-content: space-between;
}

.inputs input textarea{
	padding: .25em;
	border-radius: .1em;
}

input, textarea {
	padding: .5em;
}

textarea {
	resize: none;
	width: 70%;
}

textarea {
	min-width: 200px;
}

#start-time-padding, #start-time-input{
	width: 60px;
	text-align: end;
}

label{
	padding-right: 10px;
	text-transform: uppercase;
}

input, button, textarea {
	border: none;
	border-radius: .5em;
}

.inputs, input:focus, textarea:focus{
	outline: none;
}

.inputs input, button {
	height: 2em;
}

.output {
	min-height: 500px;
	width: 300px;
	background-color: rgb(221, 245, 254);
	border-radius: .5em;
	padding: 1em;
	align-self: flex-start;
}

button{
	padding: .5em;
	text-transform: uppercase;
	width: 90px;
	align-self: flex-end;
	border-radius: .25em;
	cursor: pointer;
}

button:hover{
	transform: scale(1.1);
}
button:active{
	opacity: .7;
	transform: scale(1.08);
}

.btn-container{
	gap: 1em;
	align-self: flex-end;
}

.radio-btn-container{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.radio-btn-container input{
	width: 3em;
}

.start-time-form-element, .start-time-padding-form-element{
	display: flex;
	align-items: center;
	padding: .25em;
	border-radius: .25em;
}
.start-time-form-element{
	background-color: rgb(255, 208, 106);
}

#current-time-display{
	position: absolute;
	left: -4em;
	font-size: large;
	font-weight: bold;
}

input, textarea {
	background-color: rgb(251, 247, 255);
	border: .25px solid rgba(255, 174, 0, 0.499);
}

#clear-btn{
	background-color: rgba(242, 193, 237, 0.533);
}
#calculate-btn{
	background-color: rgba(118, 239, 140, 0.599);
}

#fixed-times-input{
	width: 70%;
}

#fixed-times-input, #start-time-input, #start-time-padding{
	height: 2.5em;
}