* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100%;
	position: relative;
	/* display: flex; */
	background-color: rgba(213, 227, 237, 0.358);
}

#box1 {
	height: 200px;
	width: 400px;
	position: absolute;
	top: calc(50% - 100px);
	left: calc(50% - 200px);
	background-color: rgb(193, 216, 112);
	/* position: relative; */
}

.draghandle{
	height:calc(100% - 10px);
	width: calc(100% - 10px);
	/* background-color: rgb(107, 179, 213); */
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	cursor: grab;
}

.resizer{
	position: absolute;
	background-color: rgba(64, 140, 255, 0.488);
	opacity: 0.25;
}

.y{
	bottom: 0;
	height: 10px;
	width: 100%;
	/* width: calc(100% - 10px); */
	/* display: inline-block; */
	cursor: ns-resize;
}

.x{
	right: 0;
	height: 100%;
	width: 10px;
	cursor: ew-resize;
	display: inline-block;
}


.x:hover, .y:hover{
	opacity: .85;
}

.selected{
	box-shadow: 0em 0em 2em rgba(67, 177, 237, 0.85);
}